exportPattern("^[[:alpha:]]+")
importFrom("utils", "install.packages")
importFrom("graphics", "plot")
importFrom("graphics", "axis", "lines", "text")
importFrom("grDevices", "dev.hold", "gray")
importFrom("graphics", "abline", "points")
importFrom("stats", "df", "rnorm")
importFrom("stats", "sd")
importFrom("stats", "rlnorm", "uniroot")
importFrom("graphics", "box", "par", "boxplot")
importFrom("utils", "head", "tail")
importFrom("graphics", "legend")
importFrom("stats", "binomial", "glm.control")
importFrom("grDevices", "heat.colors")
importFrom("stats", "glm")
importFrom("graphics", "mtext")
